@charset 'utf=8';

/* 변수선언 */
@import url(./variable.css);

/* pc */

/* 상단 메뉴바 */

/* .h-nav .sub-nav */

.header .h-nav {
  height: 80px;
}

.header .h-nav h1 {
  width: 30%;
  height: 80px;
  background: url(./images/logo_red.png) no-repeat 0 50% / 160px;

  position: absolute;
  left: 50px;
}

.header .h-nav nav {
  width: 60%;
}

.header .h-nav nav .global-nav {
  width: 50%;
  margin: 0 auto;
}

.header .h-nav nav .global-nav li a {
  font-size: var(--font-size-17);
}

.header .h-nav nav .global-nav li:hover a {
  background: url(./images/star_yellow.gif) no-repeat 0 50% / 13%,
    url(./images/star_yellow.gif) no-repeat 100% 50% / 13%;
}

.header .h-nav nav .global-nav li:nth-child(3):hover a {
  background: url(./images/star_yellow.gif) no-repeat 12% 50% / 13%,
    url(./images/star_yellow.gif) no-repeat 87% 50% / 13%;
}

/* .h-nav .sub-nav */

.header .h-nav .sub-nav {
  position: absolute;
  right: 50px;

  font-size: var(--font-size-17);
}

.header .h-nav .sub-nav li:last-child a {
  font-size: var(--font-size-12);
  border: 1px solid #000;
}

/*********** main Reveiw ***********/

.main .m-reveiw .reveiw .reveiw-txt {
  font-size: var(--font-size-13);
}

/*********** footer ***********/

footer {
  height: 25vh;
  /* padding: 0px 40px; */
}

footer .f-info {
  width: 100%;
}

footer .f-info .f-title {
  margin-top: 10px;
}

footer .f-info p {
  font-size: var(--font-size-13);
}

footer .f-me a {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: var(--font-size-13);
  text-align: center;
  line-height: 50px;
}
