@charset 'utf=8';

/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* 변수선언 */
@import url(./variable.css);

/* 기본(모바일) */
body {
  font-family: var(--font-family-p);
  word-break: break-all;
  overflow-wrap: break-word;
}

/*********** header ***********/

.header .notice {
  width: 100%;
  height: 40px;
  background-color: black;
  color: #fff;
  font-size: var(--font-size-14);
  line-height: 40px;
  overflow: hidden;
}

.header .notice p {
  width: 200%;
  animation: noticeAni 65s infinite backwards;
}
.header .notice strong {
  font-weight: 700;
}

@keyframes noticeAni {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-80%);
  }
}

/* 상단 메뉴바 */
.header .h-nav {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #000;
  background-color: #fff;

  position: sticky;
  top: 0;
  z-index: 999999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .h-nav h1 {
  width: 60%;
  height: 70px;
  background: url(./images/logo_red.png) no-repeat 0 50% / 130px;
  text-indent: -999999px;

  position: absolute;
  left: 20px;
}

.header .h-nav h1 a {
  display: block;
  width: 30%;
  min-width: 130px;
  height: 30px;
  margin-top: 20px;
}

.header .h-nav label {
  font-family: var(--font-family-title);
  font-size: 16px;
  text-transform: capitalize;
  margin-right: 8px;

  position: absolute;
  right: 110px;
  cursor: pointer;
}
#check-btn {
  display: none;
}

#check-btn:checked ~ .checkbox-nav {
  display: block;
}
.header .h-nav .checkbox-nav {
  background-color: #fff;
  font-size: var(--font-size-14);
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 250px;
  border-top: #000 1px solid;

  display: none;
}

.header .h-nav .checkbox-nav li {
  width: 100%;
  height: 60px;
}

.header .h-nav .checkbox-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  border-bottom: 1px solid #000;
  text-indent: var(--margin-left);
}

.header .h-nav .checkbox-nav li:hover a {
  background-color: #f1eaea;
}

.header .h-nav nav {
  display: none;
}

/* .h-nav .sub-nav */

.header .h-nav .sub-nav {
  display: flex;
  gap: 15px;

  position: absolute;
  right: 10px;

  font-size: var(--font-size-14);
}
.header .h-nav .sub-nav li:first-child {
  display: none;
}
.header .h-nav .sub-nav li:last-child a {
  font-size: var(--font-size-11);
  border: 1px solid #000;
  padding: 1.5px 6px;
}

/* 메인배너 */
.header .h-banner {
  width: 100%;
  height: 82vh;
  overflow: hidden;

  position: relative;
}
.header .h-banner .video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  object-fit: cover;

  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-20%, -50%);
}

/*********** main ***********/

/* main common */

.main section .m-title {
  font-family: var(--font-family-title);
  width: 100%;
  height: 60px;
  font-size: var(--font-size-17);
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #fff;

  position: sticky;
  top: 40px;
  z-index: 99;
}
.main section .m-title2 {
  font-family: var(--font-family-title);
  width: 100%;
  height: 60px;
  font-size: var(--font-size-17);
  text-transform: uppercase;
  text-align: left;
  text-indent: 20px;
  line-height: 60px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #fff;

  display: none;
}

.main section .s-title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: var(--font-size-14);
  text-align: center;
  border-top: 1px solid #000;
  background-color: #fff;

  position: sticky;
  bottom: 0;
  z-index: 999;
}
.main section .s-title2 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: var(--font-size-14);
  text-align: center;
  border-top: 1px solid #000;
  background-color: #fff;

  display: none;
}
.main section:nth-child(2) .s-title {
  border-bottom: 1px solid #000;
}
.main section:nth-child(2) .s-title2 {
  border-bottom: 1px solid #000;
  display: none;
}

.main section .s-title:hover {
  text-decoration: underline;
}
.main section .s-title2:hover {
  text-decoration: underline;
  display: none;
}

.main section .m-imgBox {
  width: 100%;
}

.main section .m-imgBox .imgBox {
  width: 100%;
  aspect-ratio: 3/4;
}

.main section .m-imgBox .imgBox .img-txt {
  font-size: var(--font-size-14);
  padding: 20px;
}
.main section .m-imgBox .imgBox .img-txt p {
  margin-bottom: 10px;
}
.main section .m-imgBox .imgBox .img-title {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: var(--font-size-12);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*********** main Food ***********/
.main .food .m-imgBox .imgBox {
  position: relative;
}

.main .food .m-imgBox .imgBox .img-title {
  position: absolute;
  bottom: 0;
}

.main .food .m-imgBox .imgBox:first-child {
  background: url(./images/m-img-1.png) no-repeat 50% / cover;
}

.main .food .m-imgBox .imgBox:nth-child(2) {
  background: url(./images/m-img-2.png) no-repeat 50% / cover;
}
.main .food .m-imgBox .imgBox:nth-child(3) {
  background: url(./images/m-img-3.png) no-repeat 50% / cover;
}

/*********** main Goods ***********/

.main .goods .m-imgBox .imgBox {
  position: relative;
}

.main .goods .m-imgBox .imgBox .img-title {
  position: absolute;
  bottom: 0;
}

.main .goods .m-imgBox .imgBox:first-child {
  background: url(./images/m2-img-1.png) no-repeat 50% / cover;
}

.main .goods .m-imgBox .imgBox:nth-child(2) {
  background: url(./images/m2-img-2.png) no-repeat 50% / cover;
}
.main .goods .m-imgBox .imgBox:nth-child(3) {
  background: url(./images/m2-img-3.png) no-repeat 50% / cover;
}

/*********** main Point(logo) ***********/

.main .m-point .logo {
  width: 100%;
  height: 50vh;
  margin-top: 5vw;
}
.main .m-point .logo h3 {
  width: 100%;
  height: 33.333333%;
  text-indent: -99999px;
}
.main .m-point .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.main .m-point .logo h3:nth-child(1) a {
  background: url(./images/logo_seongsu.png) no-repeat 5vw 50% / 300px;
}
.main .m-point .logo h3:nth-child(2) a {
  background: url(./images/logo_jeju.png) no-repeat 50% / 300px;
}
.main .m-point .logo h3:nth-child(3) a {
  background: url(./images/logo_yongsan.png) no-repeat 90% 50% / 240px;
}
/* point */
.main .m-point .point .p-box {
  width: 100%;
  aspect-ratio: 1;
}
.main .m-point .point .p-box:nth-child(1) {
  background: url(./images/point-1.png) no-repeat 50% / cover;
  margin-top: 5vw;

  position: relative;
}
.main .m-point .point .p-box .p-box1 {
  width: 200px;
  height: 200px;
  background: url(./images/point-1-a.gif) no-repeat 50% / cover;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  bottom: 5vw;
  right: 7vw;
}
.main .m-point .point .p-box p {
  background-color: #ffb500;
  font-weight: 700;
  font-size: var(--font-size-13);
  text-align: center;
  padding: 5px 12px;

  position: absolute;
  bottom: 5vw;
  right: 4vw;
}
.main .m-point .point .p-box:nth-child(2) {
  background: url(./images/point-2.png) no-repeat 50% / cover;
}
.main .m-point .point .p-box:nth-child(3) {
  background: url(./images/point-3.png) no-repeat 50% / cover;
}
.main .m-point .point .p-box:nth-child(4) {
  background: url(./images/point-4.png) no-repeat 50% / cover;
}

/*********** main Reveiw ***********/

.main .m-reveiw {
  width: 100%;
  height: 70vh;
}
.main .m-reveiw h2 {
  display: none;
}
.main .m-reveiw .reveiw {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
}
.main .m-reveiw .reveiw .reveiw-img {
  width: 25vw;
  aspect-ratio: 1;
  max-width: 120px;
}
.main .m-reveiw .re1 .reveiw-img {
  background: url(./images/reveiw-1.jpeg) no-repeat 50% / cover;
}
.main .m-reveiw .re2 .reveiw-img {
  background: url(./images/reveiw-2.jpeg) no-repeat 50% / cover;
}

.main .m-reveiw .reveiw .reveiw-txt {
  font-size: var(--font-size-11);
  width: 60%;
  max-width: 500px;
}
.main .m-reveiw .reveiw .reveiw-txt .txt1 img {
  width: 100px;
}
.main .m-reveiw .reveiw .reveiw-txt .txt1 {
  margin-bottom: 6px;
}

/*********** footer ***********/
footer {
  width: 100%;
  height: 37vh;
  background-color: #fff;
}
footer .f-info {
  width: 80%;
  margin: 60px auto 40px;
}

footer .f-info .f-title {
  display: flex;
}
footer .f-info .f-title h4 {
  width: 180px;
  height: 70px;
  background: url(./images/logo_black.png) no-repeat 0 50% / 160px;
  text-indent: -999999px;
}
footer .f-info .f-title .instar {
  width: 70px;
  height: 70px;
  background: url(./images/sns-instar.png) no-repeat 0 50% / 35px;
  text-indent: -999999px;

  position: relative;
}
footer .f-info .f-title .instar a {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer .f-info p {
  font-size: var(--font-size-11);
  line-height: 1.6;
  width: 100%;
}

footer .f-me {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

footer .f-me a {
  display: block;
  width: 40vw;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-size: var(--font-size-12);
  text-align: center;
  line-height: 60px;
}
