@charset 'utf=8';

/* 변수선언 */
:root {
  --font-family-title: Arial, Helvetica, sans-serif;
  --font-family-p: 'Noto Sans KR', -apple-system, BlinkMacSystemFont;

  --font-size-9: 0.5625rem;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.9375rem;
  --font-size-16: 1rem;
  --font-size-17: 1.0625rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;

  --margin-left: 5vw;

  --color-gray: #c2c2c2;
}
